.App {
  text-align: center;
}

.single-item {
  /* display: flex;
  justify-content: space-around; */
  /* border: 3px solid steelblue; */
  margin: 10px auto;
  width: 200px;
  height: auto;
  cursor: pointer;
  background: white;
  transition: all 0.2s ease-in-out;
}

.single-item-completed {
  background: #d9d9d9;
}

.mark-completed {
  text-decoration: line-through;
}
